Source: openmediavault-mumble
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: gaming

Package: openmediavault-mumble
Architecture: all
Depends: mumble-server,
         openmediavault (>= 3.0.15),
         ${misc:Depends}
Description: Mumble server plugin for OpenMediaVault.
 Set up a Mumble server directly from OpenMediaVault.
